<div class="first_container">
    <div class="box">
        <ul class="statistics">
            <li class="number">64,570</li>
            <li class="value">Today's Visits</li>
        </ul>
    </div>
    <div class="box">
        <ul class="statistics">
             <li class="number">31,570</li>
             <li class="value">Total Revenue</li>
        </ul>
    </div>
    <div class="box">
        <ul class="statistics">
             <li class="number">280</li>
             <li class="value">Today's Sales</li>
        </ul>
    </div>
    <div class="box">
        <ul class="statistics">
             <li class="number">0,16%</li>
             <li class="value">Conversion</li>
        </ul>
    </div>
</div>