<nav class="nav">
        <div class="nav__left">
            <a href="#">
                <img src="assets/images/offline_bolt-24px.svg" alt="Menu">
                <span>MINTON</span>
            </a>
        </div>
        <div class="nav__right">
            <div class="nav__right__menu">
                <img src="assets/images/menu-24px.svg" alt="Meniu">
                <div class="search-input">
                    <input placeholder="search..." type="text" />
                    <a href="#">
                        <img src="assets/images/search-24px.svg" alt="Meniu">
                    </a>
                </div>
            </div>
            <div class="nav__right__list">
                <ul>
                    <li>
                        <a href="#"><img src="assets/images/more_horiz-24px.svg" alt="Meniu"></a>
                    </li>
                    <li>
                        <a href="#"><img src="assets/images/notifications-24px.svg" alt="Meniu"></a>
                    </li>
                    <li>
                        <a href="#"><img class="img-circle" src="assets/images/portrait1.jpg" alt="Meniu"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>