<nav class="sidenav">
        <div class="sidenav-divider">
            <h5 class="sidenav__title">Main</h5>
            <ul class="sidenav__list">
                <li class="active">
                    <a href="dashboard.html"><img src="assets/images/search-24px.svg"
                            alt="Dashboard"><span>Dashboard</span></a>
                </li>
                <li>
                    <a href="profile.html"><img src="assets/images/infinity.svg"
                            alt="UI Kit"><span>UI Kit</span></a>
                </li>
                <li>
                    <a href="dashboard.html"><img src="assets/images/search-24px.svg"
                            alt="Dashboard"><span>Typography</span></a>
                </li>
                <li>
                    <a href="profile.html"><img src="assets/images/search-24px.svg"
                            alt="Dashboard"><span>Components</span></a>
                </li>
                <li>
                    <a href="dashboard.html"><img src="assets/images/search-24px.svg"
                            alt="Dashboard"><span>Icons</span></a>
                </li>
                <li>
                    <a href="profile.html"><img src="assets/images/search-24px.svg"
                            alt="Dashboard"><span>Forms</span></a>
                </li>
            </ul>
        </div>
    </nav>