body {
    margin: 0;
    background: lightgray;
    font-family: 'Roboto', sans-serif;
   }
  
  *, *::before, *::after {
    box-sizing: border-box; }
  
  .nav {
    position: fixed;
    z-index: 999;
    width: 100%;
    background: #3f51b5;
    display: flex;
    height: 70px;
    @media (max-width:600px){
      background: red;
    } }
    .nav__left {
      min-width: 240px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .nav__left a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #fff; }
      .nav__left img {
        margin-right: 10px; }
      .nav__left span {
        font-size: 20px;
        text-transform: uppercase; }
    .nav__right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%; }
      .nav__right__menu {
        display: flex;
        align-items: center; }
        .nav__right__menu img {
          margin: 0 20px; }
        .nav__right__menu .search-input {
          position: relative; }
          .nav__right__menu .search-input > input {
            border: 1px solid rgba(255, 255, 255, 0.1);
            background: rgba(255, 255, 255, 0.1);
            color: #fff;
            padding: 6px 18px; }
          .nav__right__menu .search-input img {
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            margin-right: 0; }
      .nav__right__list ul {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 100%; }
        .nav__right__list ul li {
          position: relative;
          display: inline-block;
          padding: 0 12px;
          line-height: 70px; }
          .nav__right__list ul li a {
            display: block; }
            .nav__right__list ul li a img {
              overflow: hidden;
              vertical-align: middle; }
      .nav__right__list .img-circle {
        height: 36px;
        width: 36px;
        border-radius: 50%; }
  
  .sidenav {
    position: fixed;
    overflow: auto;
    left: 0;
    top: 70px;
    width: 240px;
    height: 100%;
    background: #fff; }
    .sidenav__list {
      padding: 0;}
      .sidenav__list li {
        display: block;
        border-left: 3px solid transparent; }
        .sidenav__list li a {
          display: flex;
          align-items: center;
          color: black;
          padding: 12px 20px;
          text-decoration: none; }
          .sidenav__list li a img {
            margin-right: 10px; }
        .sidenav__list li.active {
          background: #f5f5f5;
          border-left: 3px solid blue; }
    .sidenav__title {
      padding: 12px 20px; }
  
  .sidenav-divider {
    padding-bottom: 100px; }

  .header {
    position: relative;
    top: 80px;
    left: 260px;
    display: flex;
    flex-direction: row;
   
    h2 {
      position: absolute;
      font-size: 20px;
      color: #838383;
    
    }

    h3 {
      position: absolute;
      left: 850px;
      font-size: 15px;
      color: #838383;
    }

  }

  .first_container {
    position: relative;
    top: 140px;
    left: 260px;
    width: 1000px;
    display: flex;
    flex-direction: row;
  

    .box {
      position: relative;
      height: 80px;
      width: 231px;
      background-color: white;
      margin-right: 15px;
      
     .statistics {
       list-style: none;
       position: absolute;
       right: 5px;
       

       .number {
         font-size: 20px;
         padding: 5px;
         
       }

       .value {
         font-size: 10px;
       }
  
     }
    }
  }

  .second_container {
    position: relative;
    top: 155px;
    left: 260px;
    width: 1000px;
    display: flex;
    flex-direction: row;
  

    .box {
      height: 240px;
      width: 315px;
      background-color: white;
      margin-right: 15px;
      
      #first_box {
        background-color: deeppink;
      }
    }
  }

  .third_container {
    position: relative;
    top: 170px;
    left: 260px;
    width: 1000px;
    display: flex;
    flex-direction: row;
  

    .box {
      display: inline-block;
      height: 240px;
      width: 650px;
      background-color: white;
      margin-right: 15px;
      
    &#box_nine {
      flex-grow: 3;
    }
    }
  }